body{
	font-family: calibri;
}
a:hover{
	color: #fff !important;
	list-style: none;
	text-decoration: none !important;
}
.home-navbar-profile{
	width: 50px !important;
	height: 50px !important;
	float: left;
}
.home-navber-profile-username{
	float: right;
	margin-left: 1.5em !important;
}
.home-navbar-profile img{
	width: 50px;
	height: 50px;
}
.home-secondry-navbar{
	height: 40px !important;
}
.home-secondry-navbar li{
	font-size: 25px !important;
	color: #000;
	margin: 10px;
}
.home-contact-btn{
	margin: 1em !important;
}
/* SIDENAV */
.sidenav-profile{
	margin: 0 auto!important;
	width: 100px;
	height: 100px;
}
.sidenav-profile img{
	width: 100px;
	height: 100px;
}
.sidenav-profile-username {
	font-size: 15px !important;
	color: #fff;
	float: none;
	text-align: center;
}
.sidenav-menu-item a{
	text-align: left;
	font-size: 18px !important;
	color: #000;
}
.sidenav-menu-item span{
	text-align: right;
	float: right !important;
	font-size: 20px;
	margin-top: 10px;
}
.sidenav-bottom-nav{
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 0px;
	right: 0px;
}
.sidenav-bottom-nav i{
	font-size: 20px;
	margin: 5px !important;
}

/* ########## */

.home-feeds-dropdown{
	width: 100%;
	height: 100%;
}
.home-feeds-dropdown iframe{
	z-index: 100 !important;
	width: 100%;
	height: 100vh!important; 
	border-style: none;
	overflow-y: auto;
}
/*.home-secondry-navbar .home-feed:after{
  position: absolute;
  top: 4.2em;
  left: 40%;
  width: 0;
  height: 0;
  color: red;
  margin-left: -.20rem;
  vertical-align: middle;
  content: "";
  border-right: .8rem solid transparent;
  border-top: .8rem solid;
  border-left: .8rem solid transparent;
}
.home-secondry-navbar .home-notify:after{
  position: fixed;
  top: 4.2em;
  z-index: 500px !important;
  left: 25.4em;
  width: 0;
  height: 0;
  color: #fff;
  margin-left: -.8rem;
  vertical-align: middle;
  content: "";
  border-right: .8rem solid transparent;
  border-top: .8rem solid;
  border-left: .8rem solid transparent;
}
.home-secondry-navbar .home-msg:after{
  position: fixed;
  top: 4.2em;
  z-index: 500px !important;
  left: 27.2em;
  width: 0;
  height: 0;
  color: #fff;
  margin-left: -.8rem;
  vertical-align: middle;
  content: "";
  border-right: .8rem solid transparent;
  border-top: .8rem solid;
  border-left: .8rem solid transparent;
}
.home-secondry-navbar .home-:after{
  position: fixed;
  top: 4.2em;
  z-index: 500px !important;
  left: 23.6em;
  width: 0;
  height: 0;
  color: #fff;
  margin-left: -.8rem;
  vertical-align: middle;
  content: "";
  border-right: .8rem solid transparent;
  border-top: .8rem solid;
  border-left: .8rem solid transparent;
}
*/








/* MAIN SECTION */
.home-main-section{
	z-index: 0 !important;
	overflow: auto !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.home-main-section i{
	font-size: 100px !important;
	font-weight: bolder;
}
.home-main-section p{
	font-size: 18px;
}
@media (max-width: 1000px){

.home-main-section p{
	font-size: 15px !important;
}
}

.dropdown-menu{
  z-index: 1000;
  display: none;
  font-size: 1rem;
  color: #fff !important;
  text-align: left;
  list-style: none;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;}
footer{
	margin-top: 1em;
	height: 100px;
	position: fixed;
	bottom: 0px !important;
	left: 0px;
	right: 0px;
	text-align: center;
}
.footer-socio i{
	color: #fff;
	margin: 3px !important;
	font-size: 17px;
}














/* ###### LOGIN ###### */
.login-body{
	background-color: #000;
}
.login-section{
	width: 400px;
	text-align: center;
	color: #fff;
	border: 2px solid #fff !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.login-input{
	padding: 10px;
	background-color: #000;
	border-bottom: 2px solid #fff !important;
	border-style: hidden;
	color: #fff;
	width: 100%;
	text-align: center;
}
.login-input:hover{
	border-bottom: 5px solid #fff !important;
}
.login-input:active{
	border-style: none;
	background: #000;
	color: #fff;
}
.login-input:focus{
	border-style: none;
	color: #fff;
	background: #000;
}
.login-h1{
	font-family: sans-serif;
	background: #000;
	position: absolute;
	top: -25px;
	left: 130px;
	right: 130px;
}
.login-digits{
	width: 100px;
	height: 100px;
	background-color: #000;
	border: 2px solid #fff;
	color: #fff;
}
.login-digits:hover{
	color: #000;
	background-color: #fff;
}
.login-digits i{
	text-align: center;
	margin: 0 auto;
	font-size: 55px;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: 20px;
}
.btn-left{
	float: left;
}
.btn-center{
	float: none;
	margin: 0 auto;
}
.btn-right{
	float: right;
}
.login-form{
}
.btn-submit{
	width: 100%;
	color: #fff;
	padding: 15px;
	position: relative;
	bottom: -20px;
	background-color: #000;
	border: 2px solid #fff;
}












/* ####### REGISTER  ######## */
.reg-body{
	background-color: #000;
	color: #fff;
}


/* ######################### */

















/* #### GOOGLE #### */

.google-body{
	background: #000;
	color: #fff;
}
.google-main-section{
	background-color: #000;
	width: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.google-main-section h1{
	font-size: 100px;
	text-align: center;
}
.google-main-section input{
	text-align: center;
	color: #fff !important;
	font-size: 20px;
	height: 50px;
	word-spacing: 2px; 
	box-shadow: 0px 2px 3px lightgrey;
	background: #000;
	border-style: none;
}
.google-main-section input:hover{
	box-shadow: 0px 4px 3px #fff;
	background: #000;
	color: #fff;
	border-style: none;
}
.google-main-section input:active{
	box-shadow: 0px 4px 3px #fff;
	background: #000;
	color: #fff;
	border-style: none;
}
.google-main-section input:focus{
	box-shadow: 0px 4px 3px #fff;
	background: #000;
	color: #fff;
	border-style: none;
}
/* ################ */
.feeds-container{
	margin-top: 1em;
	margin-bottom: 1em !important;
	border: 2px solid #fff;
}
.feeds-contents{
	background-color: #fff;
	height: 35em;

}
.feeds-comments{
	background-color: #fff;
	color: #000;
}
.feeds-file{
	background-color: #fff;
	height: 25em;
	border-style: none;
}
.feeds-file img{
	background-color: orange;
	height: 25em;
	width: 100%;
	border-style: none;
}
.feeds-profile-img{
	background-color: #fff;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 7em;
}
.feeds-profile-img img{
	background-color: red;
	width: 100px;
	height: 100px;
	border: 5px solid #fff;
}
.feeds-profile-name{
	margin-top: 1em;
	margin-bottom: 0px !important;
	font-size: 20px;
	font-weight: bolder;
}
.feeds-alive{
	background-color: #000;
	height: 60px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	left: 0px;
	right: 0px;
}
.feeds-alive i{
	font-size: 27px;
	color: #fff;
	margin-top: 15px;
	margin-left: 15px;
  -moz-animation: pulse 2s infinite linear;
  -o-animation: pulse 2s infinite linear;
  -webkit-animation: pulse 2s infinite linear;
  animation: pulse 2s infinite linear;
}
.feeds-alive i:hover{
	font-size: 40px;
	color: #fff;
	margin-top: 10px;
	opacity: 1;
  -moz-animation: pulse 100000s infinite linear;
  -o-animation: pulse 1000000s infinite linear;
  -webkit-animation: pulse 100000s infinite linear;
  animation: pulse 1000000s infinite linear;
}
@-webkit-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-moz-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-o-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-ms-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.feeds-comments-container{
	margin-top: 1em;
	overflow-y: scroll !important;
	height: 30em;
}
.feeds-comments-container h1{
	font-size: 30px;
	font-weight: bolder;
	background-color: #fff;
	margin-bottom: 0em;
	float: none;
	border-bottom: 2px solid #000;
	text-align: center !important;
}
.feeds-comments-container img{
	width: 70px;
	height: 70px;
}
.feeds-comments-container h6{
	font-size: 20px;
	margin-bottom: 0px;
}
.feeds-comments-container strong{
}
.feeds-comments-input{
	width: 80%;
	text-align: center;
	float: none;
	margin: 0 auto;
}

/* ###### FEEDS ####### */
